.one {
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 10px solid red;
    border-radius: 50%;
    border-bottom-color: transparent;
    animation-name: Gabrielo;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes Gabrielo {
    0% {
        transform: rotate(0turn);
    }
    100% {
        transform: rotate(1turn);
    }
}

.one::before {
    content: "";
    width: calc(100% +15px);
    height: calc(100% +15px);
    margin: 10px;
    border: 10px solid red;
    border-radius: 50%;
    border-bottom-color: transparent;
    animation-name: Gabrielo;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}